* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", serif;
}

/* Navigation Section Design */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

nav>h1 {
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;
}

nav>div>button {
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    padding: 17px 24px;
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
    cursor: pointer;
}

/* Hero Section Design */
#hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 45px 0;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.hero-container>img {
    width: 150px;
    margin-bottom: 32px;
}

.hero-Heading {
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.hero-Text {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    opacity: 0.7;
}

.hero-Btn {
    padding: 21px 24px;
    border: 0;
    border-radius: 8px;
    background: #0D1321;
    cursor: pointer;
}

.hero-Btn>a {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* Global Heading Box Design */
.heading-Box {
    color: #0D1321;
    text-align: center;
    margin-bottom: 50px;
}

.heading-Box>h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.heading-Box>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

#inspiration>.heading-Box,
#target>.heading-Box,
#next-target>.heading-Box {
    width: 852px;
    margin: 0 auto 50px;
}

/* Development Section Design */
#dev {
    margin-top: 74px;
    padding: 80px 97px;
}

.dev-card-box {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin-bottom: 32px;
}

.dev-card-box:nth-child(2) {
    flex-direction: row-reverse;
}

.dev-card-content {
    max-width: 477px;
}

.dev-card-head {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.dev-card-text {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    opacity: 0.7;
}

.dev-card-btn {
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    cursor: pointer;
}

.dev-card-img {
    max-width: 260px;
}

.dev-card-img img {
    width: 100%;
}

/* Inspiration Section Design */

.inspiration-video {
    padding: 32px;
}

.inspiration-video>iframe {
    border-radius: 16px;
}

/* My Target Section Design */
#target {
    margin-top: 150px;
}

.target-card-container {
    display: flex;
    gap: 24px;
}

#html-card {
    background-color: rgba(255, 76, 30, 0.05);
}

#css-card {
    background-color: rgba(0, 76, 232, 0.05);
}

#js-card {
    background-color: rgba(255, 223, 0, 0.05);

    ;
}

.target-card-box {
    padding: 40px;
    border-radius: 16px;
}

.target-card-box>img {
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}

.target-card-box>h5 {
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.target-card-box>p {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    opacity: 0.7;
}

.target-card-box>a {
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* My Next Target Section Design */
#next-target {
    margin-top: 110px;
}

.next-target-card-box {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    margin-bottom: 24px;
}

.next-target-card-img img {
    width: 95px;
}

.next-target-card-content h5 {
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.next-target-card-content p {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    opacity: 0.7;
}

.next-target-card-content a {
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* Support Section Design */
#support {
    margin: 50px 0 80px;
    padding: 64px 48px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../assets/handshake.jpg) lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.support-container {
    width: 730px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
}

.support-container>h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.support-container>p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    opacity: 0.7;
}


.support-form {
    display: flex;
    align-items: center;
    gap: 16px;
}

.support-form>input[type="text"] {
    width: 548px;
    background: #FFF;
    color: rgba(13, 19, 33, 0.68);
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
}

.support-form>input[type="text"]:focus-visible {
    outline: none;
}

.support-form>input[type="submit"] {
    width: 120px;
    padding: 18px 20px;
    border-radius: 8px;
    background: #FFF;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

/* Footer Section Design */
footer {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.footer-container {
    width: 1140px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container h6 {
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}

.footer-icon {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-icon>img {
    width: 36px;
    height: 36px;
}